<mat-card>
    <mat-card-title>
        <p>Change Password</p>
    </mat-card-title>
    <mat-card-content [formGroup]="changepass">
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput placeholder="Enter your Password" formControlName="password">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput placeholder="Confirm your Password" formControlName="confirmpassword">
            </mat-form-field>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color ="accent" (click)="updatepass()">Confirm</button>
        <button mat-raised-button color ="accent" routerLink="/users">Cancel</button>
    </mat-card-actions>
</mat-card>