<mat-card>
    <mat-card-title> Login</mat-card-title>
    <mat-card-subtitle><Small>To See Details and Orders login here</Small></mat-card-subtitle>
    <mat-card-content [formGroup]="loginForm">
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Username / Email</mat-label>
              <input matInput placeholder="Enter Username" formControlName="email">
            </mat-form-field>
        </p>
        <p>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput placeholder="Enter your Password" formControlName="password">
            </mat-form-field>
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button  color="primary" (click) = "onLogin()">Login</button><br>
        <small>Not have account ? <a routerLink = "/signup"> Create new Account. </a></small>
    </mat-card-actions>
  </mat-card>